/* Advertisement styles */
.advertisement {
    position: fixed;
    top: 50px;
    padding: 10px;
    background-image: url('../images/background2.jpg');
    background-size: cover;
    text-align: center;
    font-size: 1.6rem;
    width: 200px;
    transform: translateY(-50%);
    transition: transform 0.3s, background 0.5s;
    z-index: 1;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    opacity: 0.9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    font-weight: bold;
    animation: scaleUp 1s ease infinite;
}
@keyframes scaleUp {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.05);
    }
}

.left {
    left: 50px;
}

.right {
    right: 50px;
    transform: translateY(-50%);
}

/* Content rotation animation */
.advertisement p {
    animation: rotateContent 2s linear;
    transform-origin: center center;
    white-space: nowrap;
    text-transform: uppercase;
    margin: 0;
    transform: rotate(270deg);
    background: linear-gradient(140deg, #390bf3, #FFD700);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

/* Keyframes for content rotation */
@keyframes rotateContent {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(90deg);
    }
    100% {
        transform: rotate(270deg);
    }
}

/* Link styles */
.advertisement a {
    color: #1aff58;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    display: block;
    margin: 5px;
}

/* Hover effect for links */
.advertisement a:hover {
    color: #2007fe;
    transform: scale(1.2);
}

/* Adjust font size for smaller screens */
@media (max-width: 768px) {
    .advertisement {
        font-size: 1rem;
    }
}